/*
Teal color (used for headings and backgrounds): #4aaaa5

Regular font color (used for paragraphs and all text besides the headings): #777777

Main header background color: #ffffff

Main header border color: #cccccc

Footer background color: #666666

Main content background color: #ffffff

Main content border color: #dddddd

For heading fonts use font-family: 'Georgia', Times, Times New Roman, serif;.

For all other fonts use 'Arial', 'Helvetica Neue', Helvetica, sans-serif;.
*/

body {
    margin: 0;
    padding: 0;
    color: #777;
    font-size: 22px;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    background-image: url(/assets/images/trees.png);
    height: 960px;
}


.heading {
    color: #4aaaa5;
    font-family: 'Georgia', 'Times New Roman', 'Times', 'serif';
    padding-top: 15px;
    padding-left: 10px;
}


header {
    height: 100px;
    position: relative;
    border: 2px solid #ccc;
    background-color: #ffffff;
    width: 100%;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background: #ffffff;
    
}

.name-container {
    margin: 0;
    position: absolute;
    top:0;
    left: 150px;
    display: block;
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 31px 16px;
}

li {
    float: right;
}

li a {
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
    background: #ffffff;
    color: #777;
    border-right: 1px solid #ccc;
}

.main-body {
    width: 75%;
    background-color: #ffffff;
    height: 600px;
    margin: 30px auto;
    display: block;
    padding: 5px;
}

.myphoto {
    height: 200px;
    width: 200px;
    float: left;
    padding: 15px;
}



label {
    display: block;
    padding: 10px;
}

input {
    width: 90%;
    padding: 10px;
}

textarea {
    width: 90%;
    padding: 10px;
}

.form-button {
    width: 120px;
    padding: 20px;
}

.button {
    background-color: #4aaaa5;
    color: #fff;
}